redis
motor
httpx
pytest
beanie
asyncpg
alembic
slowapi
uvicorn
aiohttp
gunicorn
aio_pika
mistralai
aiosqlite
feedparser
SQLAlchemy
websockets
transformers
fastapi[all]
pydantic[all]
python-dotenv
python-multipart
