spacy
redis
httpx
neo4j
hdbscan
asyncpg
slowapi
uvicorn
aiohttp
pgvector
gunicorn
mistralai
aiosqlite
feedparser
SQLAlchemy
APScheduler
fastapi[all]
pydantic[all]
python-dotenv
python-multipart
sentence-transformers
